.ui.header.app-header{
    text-align: center;
    padding: 50px 0;
}

.outer-main{
    display: table;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #4e2b88;
}

.app-title{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.ui.header>.image:not(.icon), .ui.header>img .app-logo{
    width: 140px !important;
}
.app-content{
    border: solid 1px #eee;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    border-radius: 20px;
    background-color: white;
}

.form-title{
    font-size: 16px;
    padding-bottom: 10px;
    color: #2d263b;
}

.ui.button.btn-login{
   color: white;
   padding: 6px 40px;
    color: #fff;
    background-color: #06b3ba;
    border-radius: 100px;
    background-clip: padding-box;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.ui.button.btn-login:hover{
    box-shadow: 0 16px 20px 0 rgba(0,0,0,.2);
    transition: all 0.3s linear;
}

@media (min-width: 576px) {
    .app-content{
        max-width: 70%;
    }
 }

@media (min-width: 768px) { 
    .ui.header.app-header{
        padding: 35px 0;
    }
    .ui.header>.image:not(.icon), .ui.header>img .app-logo{
        width: 150px;
    }
    .form-title{
        font-size: 20px;
    }
 }

@media (min-width: 992px) {
    .ui.header.app-header{
        padding: 55px 0;
    }
    .ui.header>.image:not(.icon), .ui.header>img .app-logo{
        width: 170px !important;
    }

    .app-title{
        font-size: 1.75rem;
    }
    .app-content{
        max-width: 50%;
        padding: 26px 30px;
    }
    .ui.button.btn-login{
        padding: 15px 50px;
    }
  }

@media (min-width: 1200px) {
    .ui.header.app-header{
        padding: 60px 0;
    }
    .ui.header>.image:not(.icon), .ui.header>img .app-logo{
        width: 200px !important;
    }

    .app-content{
        max-width: 45%;
    }
 }

